/*!
 * Appli Récupérathèque
 * Fédération des Récupérathèques
 * Mozilla Public License 2.0 (https://opensource.org/licenses/MPL-2.0)
*/

/*Renner est devenue Jost (et liée en header dans add_form.php)*/
/*
@font-face {
  font-family: 'RennerMedium';
  src: url('/fonts/Renner_500Medium.otf') format('otf'), url('/fonts/Renner_500Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RennerLight';
  src: url('/fonts/Renner_300Light.otf') format('otf'), url('/fonts/Renner_300Light.ttf') format('truetype');
}
*/

h1, h2, h3, h4, h5, h6, li, .breadcrumb{
  font-family: 'Jost' !important;
  font-weight:600;
}

body, p, blockquote, span {
    font-family: 'Jost' !important;
    font-weight:400;
}


.no-select {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/*
|========|
| header |
|========|
*/

.header{
  background: #202020;
 	padding: 10px;
 	color:#FFFFFF;
 	text-align: center
}

/*
|=========|
|  video  |
|=========|
*/

.cam_container{
  position: relative;
}

#video {
position:absolute;
left:0;
 right:0;

 margin-left: auto;
 margin-right: auto;
/*max-height: 400px; */
width:100%;
  z-index: 1;
}

#snap_final {
  height: 200 !important;

/*  max-height: 225px;*/
  z-index: 10;
}


.streaming_container
{

}

.video_streaming
{

}

#overlayimage
{
		position: absolute;
		top: 0px;
		left: 0px;
    width:100%;
    /*max-width:400px;
    max-height:400px;*/
	}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


/*----- touch areas  -----*/

a.eztouch-left, a.eztouch-right, a.eztouch,
div.eztouch-left, div.eztouch-right, div.eztouch
{position:relative;
overflow: visible;}

a.eztouch::before, div.eztouch::before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;

}

a.eztouch-right::before, div.eztouch-right::before{
    position:absolute;
    content:'';
    top:-10px;
    right:-20px;
    left:-5px;
    bottom:-10px;

}

a.eztouch-left::before, div.eztouch-left::before{
    position:absolute;
    content:'';
    top:-10px;
    right:-5px;
    left:-20px;
    bottom:-10px;

}

/* ------  HEART RATING  ------*/

.rating{
  padding-top: 6px;
  font-size: 1.7rem;
  display:inline-block;
    color:#9e9e9e;

}

.rating span{
padding: 15px 10px 15px 0px;
}

.rating span:first-of-type {
  padding-left:30px;
}

.rating span:last-of-type {
  padding-right:30px;
}
/*
.rating > span:hover:before {
   content: "\2764";
   position: absolute;
   color:#606060;
}

.rating {
  unicode-bidi: bidi-override;


}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2764";
   position: absolute;
      color:#606060;
}*/

.rating >span.checked
{color:#606060;}

/* ----- INPUT RANGE ----- */

/*
input[type='range']

{ -webkit-appearance: none;  height:30px;  } */
/*
input[type=range] {
    border: 0px !important;
}
*/
/*
input[type=range] {
  /* fix for FF unable to apply focus style bug  */
/*  border: 1px solid transparent !important;*/
  /*required for proper track sizing in FF*/
/*
  margin-top:1.3rem !important;
}

input[type='range']::-webkit-slider-thumb

{  height:20px; width:20px; border-radius: 20px;
margin: -7px; /* alignment fix for Chrome */ }

  /*input[type="range"]::-ms-thumb {
  margin: 0; /* Reset margin in Edge since it supports -webkit-slider-thumb as well */
  /*
}*/

input[type=range]::-moz-range-track {
  height: 3px !important;
  background: #606060 !important;
  border: none; }

.prefix /* label inactif devant zone de texte */
{color:#6f6972 !important}

.prefix.active /* label actif devant zone de texte */
{color:#00e676 !important}

label
{font-size: 1rem !important;
color: $couleur3 !important;}

.input-field .prefix, .flex-input-field .prefix  {
position: absolute;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
  }

div.col.input-field
  {
        height: 3rem !important;

  }
  div.row.flex-input-field
    {

margin-top: 1rem;

margin-bottom: 1rem;
}



.btn.plusminus
{
  background-color:#F0F0F0;
  width: 35px;
  height: 2.5em;
  padding: 0px 0px 0px 0px;}

.btn.plusminus span
{color:black;
font-family:arial !important;
font-size: 1.2rem;}


.inline-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  text-align:left;

}

.inline-group div, .inline-group input, .inline-group a
{margin-right:5px !important;}

.inline-group p
{margin-left:10px;}

.nomargin{
	margin: 0px 0px 0px 0px !important;
}
.nopadding{
	padding: 0px 0px 0px 0px !important;
}

.invisible{
  display:none !important;
}

.hidden{
  visibility: hidden !important;
}

.centered{
  top: -150px !important;
  left: 200px !important;
}

.btn-floating.btn-large.cam_btn_default
{

  width: 100px;
height: 100px;
margin-top: 10px;
margin-bottom: 10px;
  z-index: 0;

}

#take-photo
{z-index:3;}



.btn-floating.btn-large.cam_btn_default i
{
line-height: 100px;
font-size: 3.5rem;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
  font-size:1.1rem !important;
}

.btn-flat {

  border: none;
  border-radius: 5px !important;
line-height: 2.5rem !important;
height:2.5rem !important;
margin-right: 1px;
}

.btn-large.inactive
{
  background-color: white;
}

.btn-large.inactive i
{
  color: #E0E0E0;
}

/*pour aller avec la flèche ▾*/
/*
.dropdown-trigger {

    padding-right: 10px !important;

}*/

ul.tabs{
  background-color: #E0E0E0 !important;
  margin-left: 1px !important;
  margin-right:1px !important;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #F0F0F0;
}

.scrollingwrapper btn-flat {
  display: inline-block;

}


/*couleur ne reste pas car perd le focus à l'ouverture du menu*/
/*checker ici pour solution plus viable https://css-tricks.com/snippets/javascript/loop-queryselectorall-matches/ */
/*
li.tab a:active {
        background-color: #00e676 !important;
}*/






.dropdown-content li {
/*padding: 12px 0px 0px !important;*/

}

/*shim pour protéger les clics sur le menu des éléments en arrière-fond sur mobile */
/*
ul.dropdown-content:after{
	content:"";
	position:absolute;
	z-index:-1;
	top:-50px;
	right:-50px;
	bottom:-50px;
	left:-50px;
	background:rgba(0,0,0,.3);
}
*/

.border-div
{
/*  margin: 5px 5px 5px 5px; */
padding: 0px 24px 0px 24px;
  border-right : 1px solid white;
  line-height: 24px !important;
}


.separator {
           display: flex;
           flex-direction: row;
       }

       .separator:before,
       .separator:after {
           content: "";
           flex: 1 1;
           border-bottom: 0px solid #606060;
           margin: auto 10px;
       }

       .separator-label.prefix {

           font-size: 1.5rem !important;
         width: 2rem !important;
         }


.champs_facultatifs
{
  opacity: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.champ-localisation
{
  opacity: 0;
  transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -webkit-transition: opacity .15s ease-in-out;
}

.visible {

  -webkit-animation: fade-in .3s ease-out;
  -moz-animation: fade-in .3s ease-out;
  }

.visible-slide-down {

  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
  }

  .visible-slide-right {

    -webkit-animation: slide-right .3s ease-out;
    -moz-animation: slide-right .3s ease-out;
    }

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
z-index:0;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0;  }
100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0% { opacity: 0;}
100% { opacity: 1; }
}

@-webkit-keyframes slide-down {
  0% { -webkit-transform: translateY(-100%); opacity: 0; }
100% { -webkit-transform: translateY(0); opacity: 1; }
}
@-moz-keyframes slide-down {
  0% { -moz-transform: translateY(-100%); opacity: 0; }
100% { -moz-transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes slide-right {
  0% {  -webkit-transform: translateX(-100%); opacity: 0; }
100% {  -webkit-transform: translateX(0); opacity: 1; }
}
@-moz-keyframes slide-right {
  0% { -moz-transform: translateX(-50%); opacity: 0; }
100% {  -moz-transform: translateX(0); opacity: 1; }
}

/* W3CSS */

.w3-sidebar i.prefix {

margin-right: 1.5rem;
}
