/*!
 * Appli Récupérathèque
 * Fédération des Récupérathèques
 * Mozilla Public License 2.0 (https://opensource.org/licenses/MPL-2.0)
*/


/*
|=========|
|  video  |
|=========|
*/

.cam_container{
  position: relative;
}

#video {
  position: absolute;
  width: 100% ;
  max-height: 225px;
}

#canvas {
  position: absolute;
  width: 100% ;
  max-height: 225px;
  z-index: 10;
}


.nomargin{
	margin: 0px 0px 0px 0px !important;
}

.invisible{
  display:none !important;
}

.hidden{
  visibility: hidden !important;
}

.centered{
  top: -150px !important;
  left: 200px !important;
}


.photo-controls
{color:#EF5350 !important;
cursor: pointer !important;
font-size: 48px !important;}

.btn-flat {

  border-radius: 0px !important;
  border-right: 1px solid #bdbdbd;
  background-color: #ffff;
}

.tabs .indicator{
    background-color: grey;/*your color*/
    }

.zone_camera {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


input[type='range']

{ -webkit-appearance: none;  height:30px;  }


input[type='range']::-webkit-slider-thumb

{  height:20px; width:20px; border-radius: 20px;
margin: -7px; /* alignment fix for Chrome */ }

input[type="range"]::-ms-thumb {
  margin: 0; /* Reset margin in Edge since it supports -webkit-slider-thumb as well */
}
