

/* --- version mobile --- */

.items-container{
  background: #F0F0F0;
  /* padding: 6px 0 6px; */
  /* overflow: scroll;
  max-height: 100vh; */
}

.item{
  text-align: left;
  background: white;
  padding: 24px 24px 12px;
  max-width: 100vw;
}

  /*on rajoute les espacemens et options quand yen a plusieur*/
.items-container .item{
  margin-bottom: 12px;
}


/* --- version bureau --- */

@media (min-width: 601px){
 .items-container{
   background: white;
   padding: 6px;
 }
 .items-container .item{
   margin: 6px;
   border-bottom: 1px solid #E0E0E0;
 }
 .item{
   padding: 12px;
 }
}


/* --- ce qu'il y a autour de l'item --- */

.item-link{
  text-decoration: none;
}

.retour{
  text-align: left;
  color: #909090;
  display: block;
  text-decoration: none;
  padding: 12px;
}

/* barre des boutons */
.item-buttons-container{
  padding: 6px;
  display: flex;
  flex-wrap: nowrap;
}

.item-button{
  flex-grow: 1;
  margin: 6px;
}

@media(min-width: 993px){
  .item-buttons-container{
    padding: 12px;
  }
  .item-button{
    margin: 12px;
  }
}


/* --- boite photo et boite texte --- */

.item-photo-container, .item-text-container{
  max-width: 500px;
}

.item-photo-container{
  padding-bottom: 12px;
}

.item-photo{
  width: 100%;
}

/* - version single desktop - */
@media (min-width: 601px){
  .item-single-container{
    text-align: center;
  }
  .item-single-content{
    display: inline-block;
  }
}

@media (min-width: 993px){
  .item-single-container .item{
    display: flex;
  }
  .item-single-container .item-photo-container,
  .item-single-container .item-text-container{
    padding: 12px;
    width: 500px;
  }
  .item-single-container .item-text-container{
    display: flex;
    flex-direction: column;
  }
  .item-single-container .item-date-container{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}


/* ----- les boites d'infos qui compose l'item */

.item-categorie{
  color: #606060;
}

.item-souscategorie{
  font-weight: bold;
  font-size: 1.4em;
}

.item-categorie-container{
  padding-bottom: 12px;
}

.items-container .item-date-container{
  padding-top: 12px;
}

.items-container .item-info-plus-container{
  display: none;
}

/* ajout des séparateur d'info quand l'item est seul */
.item-single-container .item-info-container:after,
.item-single-container .item-info-plus-container::after,
.item-single-container .item-tags-container::after{
  content: "";
  display: block;
  margin: auto;
  width: 60%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #E0E0E0;
}


/* ----- une ligne de l'item (icone + texte) */

.item-info-line{
  display: flex;
  white-space: nowrap;
  align-items: baseline;
}

.item-date-container .item-info-line{
  justify-content: flex-end;
  color: #909090;
}

.item-icon{
  width: 32px;
  flex-shrink: 0;
}

.item-info{
  white-space: normal;
}

/* dans l'affichage catalogue on coupe l'info si elle dépasse */
.items-container .item-info,
.items-container .item-categorie-container{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item-icon{
  color: #909090;
}

.etat-icon-container i{
  color: #909090;
  padding-left: 3px;
}

.item-tag{
  white-space: nowrap;
}

.item-tag:hover{
  text-decoration: none;
}
