
.item{
  text-align: left;
  background: white;
  transition: 0.4s;

  padding: 24px;
  max-width: 100vw;
  flex-basis: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item > * {
  /* les composants de l'item (photo et texte) */
  /* ca veut dire que la largeur d'une photo est limité a 400px */
  box-sizing: content-box;
  max-width: 400px;
  flex-basis: 100%;
}

/* --- catalogue mobile --- */

.items-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 12px;
}
.item-wrapper{
  width: 100%;
  flex-basis: 100%;
}
.items-container .item{
  margin-bottom: 12px;
}

/* --- catalogue ipad --- */

@media (min-width: 601px){
 .items-container{
   background: white;
 }
 .items-container .item{
   margin: 12px;
 }
 .item-wrapper{
   width: 50%;
   flex-basis: 50%;
 }
 .item{
   padding: 12px;
 }
}

/* --- catalogue bureau --- */

@media (min-width: 993px){
 .item-wrapper{
   width: 33%;
   flex-basis: 33%;
 }
}

/* --- affichage single --- */

.item-single-container{
  background: white;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 993px){
  .item-single-container .item{
    padding: 12px;
    flex-wrap: nowrap;
  }
  .item-single-container .item > * {
    padding: 24px;
    margin: 0;
    flex-basis: 50%;
  }
  .item-single-container .text-container {
    max-width: none;
    flex-grow: 1;
  }
}

/* --- boite photo --- */

.photo-container{
  margin-bottom: 12px;
  position: relative;
}
.item-photo{
  width: 100%;
}
.hors-les-murs{
  background: #D0D0D0;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 4px 18px;
}
.hors-les-murs i{
  padding-right: 6px;
}
.new{
  background: #00E676;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -16px;
  right: 12px;
  padding: 6px 18px;
  border-radius: 50%;
  z-index: 9;
  /* transform: rotate(10deg); */
}
.item-single-container .new{
  display: none;
}


/* --- les boites d'infos --- */

.text-container{
  /* la zone texte est elle-même un flex zone */
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.categorie-container{
  padding-bottom: 12px;
}
.categorie-container .cat{
  color: #606060;
}
.categorie-container .souscat{
  font-weight: bold;
  font-size: 1.4em;
}

.items-container .info-plus-container{
  /* cache les info non necessaire */
  display: none;
}
.tags-container{
  /* envoi la date en dessous */
  flex-grow: 1;
}
.items-container .date-container{
  padding-top: 12px;
}

/* ajout des séparateur d'info quand l'item est seul */
.item-single-container .separateur:after{
  content: "";
  display: block;
  margin: auto;
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: #E0E0E0;
}

/* --- LIGNE D'INFO (icone + texte) --- */

.info-line{
  display: flex;
  align-items: baseline;
}
.date-container .info-line{
  color: #909090;
  justify-content: flex-end;
}

.info-icon{
  color: #909090;
  flex-basis: 20px;
  margin-right: 16px;
  text-align: center;
  flex-shrink: 0;
}

/* dans l'affichage catalogue on coupe l'info si elle dépasse */
.items-container .info-text,
.items-container .item-categorie-container{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.etat-icon-container i{
  color: #909090;
  padding-left: 3px;
}

.tag{
  text-decoration: underline;
}
.tag:hover{
  text-decoration: none;
  color: #00E676;
}
