
html{
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

body{
  margin: 0;
  background: #E0E0E0;
}

html, body, p, h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

.color-theme{
  background: #202020;
  color: #FFFFFF;
}

/* ----- SEARCH BAR -----*/

.search-bar-container{
  background: #606060;
  color: #FFFFFF;
}

.search-bar{
  max-width: 900px;
  margin: auto;

  padding: 12px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.search-bar-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  /*stay in one line*/
  justify-content: flex-start;
  align-items: center;

  flex-grow: 1;

  padding: 6px;
}

.search-bar-label{
  white-space: nowrap; /*force one line text*/

  padding-right: 12px;
}

.search-bar-input{
  min-width: 0;
  flex-grow: 1; /*grow if spaces*/
}

/* ----- ITEM -----*/

.items-container{
  max-width: 900px;
  margin: auto;
}

.item-container{

}

.item{
  background: #FFFFFF;

  margin: 10px;
  padding: 10px;

}

.item-photo-container{
  width: 100%;
  padding-bottom: 6px;
}

.item .photo{
  width: 100%;
}

.item-categorie-container, .item-info-container, .item-tags-container, .item-date-container{
  padding-top: 6px;
  padding-bottom: 6px;
}

.item-categorie-container{
  font-weight: bold;
}

.item-date-container{
  color: #909090;
  text-align: right;
}

.item-icon{
  color: #909090;
  padding-right: 6px;
}


/*----- FORMS -----*/
.tabs
{
display: flex
}

@media (min-width: 0px) {
  .quasi-fullwidth  {
    margin: 0 auto 20px;
    width:100%;

  }
}

@media (min-width: 992px) {
  .quasi-fullwidth  {
  margin: 0 auto 20px;
    width:85%;

  }
}

@media (min-width: 1200px) {
  .quasi-fullwidth  {
      margin: 0 auto 20px;
    width:70%;

  }
}
