
html, body{
  background: #F0F0F0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

html, body, p, h1, h2, h3, h4, h5, h6{
  /* font-family:, 'Open Sans', Helvetica, arial, sans-serif !important; */
  font-family: 'Jost', Helvetica, arial, sans-serif !important;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* --- global container --- */

.quasi-fullwidth{
}

@media (min-width: 993px){
  .quasi-fullwidth{
    margin: 0 auto 0;
    max-width: 80%;
  }
}

/* fait de l'espace pour le header en fixed position */
.space-header{
  margin-top: 48px;
}

/* --- catalogue --- */

.catalogue{
  background: #F0F0F0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 601px){
  .catalogue{
  }
}

@media (min-width: 993px){
  .catalogue{
    background: white;
    padding: 0 24px 0;
  }
}

/* ordre pour version mobile et ipad*/
.catalogue > * {
  flex: 1 100%;
}

/* ordre et dimension pour bureau */
@media(min-width:993px){
  .flex-menu{
    flex-basis: 30%; /*prend toute la largeur*/
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    box-sizing: border-box;
    max-width: 30%;
    min-height: 100vh;
    padding-bottom: 48px;
  }
  .flex-items{
    flex-basis: 70%;
    padding-left: 24px;
    /* border-right: 1px solid #E0E0E0; */
  }
}

/* --- basic button --- */

button {
  background-color: #E0E0E0;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  margin: 0px;
  position: relative;

  overflow: hidden;
  white-space: nowrap;
}

button:hover{
  /* background:#00E676; */
}

.button-flex{
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-title{
  padding-left: 12px;
}

.button-icon{
  width: 48px;
  text-align: center;
}


/* ----- HEADER -----*/

.header-container{
  width: 100%;
  height: 48px;
  background: #404040;
  color: white;

  position: fixed;
  top: 0;
  z-index: 11;
}

.header{
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

}

.header a{
  text-decoration: none;
}

.header-title{
  flex-grow: 1;
  font-size: 1.4rem;
  padding-left: 24px;

  display: flex;
  align-items: center;
}

.header .nav-button{
  /* background: #707070; */
  color: #909090;
  margin: 0 0px 0;

  display: flex;
  align-items: center;
}

.header .nav-title{
  display: none;
  padding-left: 12px;
}

.header .nav-icon{
    width: 48px;
    text-align: center;
}

@media(min-width: 601px){
  .header .nav-title{
    display: block;
  }
}

.header .nav-button.page-selected{
  color: white;
}

.w3-large{
  font-size:18px!important
}

/*--- ERREUR ---*/

.erreur{
  margin-top: 0;
  padding: 24px;
  background: white;
}

/*----- FORMS -----*/
.tabs
{
display: flex
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}


/* ----- SIDENAV -----*/

.button-menu {
  position:absolute;
  right:auto;
  bottom:auto;
  left:12px;
  top:12px;

}

ul.sidenav {
  background-color: white;
}
ul.sidenav a.pagelink {
 font-variant: small-caps;
 color:white;
 font-size: 1.05rem;
}



.user-view
{
  margin-bottom: 1.5rem;
}

.user-view a
{
  color:#606060 ;
}



.sidenav li > a.nav-titre
{
  font-size:1.6rem;
  line-height: 72px;
}
.sidenav .user-view {

    padding: 22px 32px 0 !important;

  }

.w3-sidebar
{z-index:99 !important;}

.sidebarhover
{background-color: #ccc !important;}

/* ----- TOP NAV (header)-----*/

   nav .brand-logo.right {

    padding-right: 15px !important;
}
