

/* ----- SEARCH BAR -----*/

.search-bar{
  background: white;
  padding: 12px 0px;
  height: 48px;
  box-sizing: content-box;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}

/*la barre de recherche grow en longueur if spaces*/
.search-bar-input{
  background: #F0F0F0;
  min-width: 0;
  flex-grow: 1;

  border: none;
  padding-left: 12px;
}

.search-bar-button{
  width: 48px;
  padding: 0;
  z-index: 5;
}

@media (min-width: 993px){
  .search-bar{
    padding: 24px 0px;
  }
}


/* ----- SEARCH RESUME -----*/

.search-resume-wrapper{
  position: sticky;
  top: 48px;
  z-index: 10;
}
@media(min-width: 993px) {
  .search-resume-wrapper{
    position: static;
  }
}

.search-resume a{
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  background: #00E676;
  color: white;
  border-radius: 12px;
  line-height: 2.5;
}

.search-resume a:after{
  padding-left: 6px;
  font-size: 1em;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00d";
}

/* --- page nav --- */

.page-nav{
  text-align: center;
  font-size: 1.4rem;
}

.page-nav a{
  text-decoration: none;
  padding: 0 12px;
}

.page-nav a.disabled{
  pointer-events: none;
  cursor: default;
  color: #D0D0D0;
}


/* -----CATEGORY MENU -----*/

.menu-container{
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.menu-bar{
  width: 100%;
  display: flex;
}

.menu-button{
  flex-basis: 50%;
}

.menu-button.active{
  background: white;
  transition: 0.3s;
}

.menu{
  background: white;
  text-align: left;

  transition: 0.5s;
  overflow-y: hidden;
  height: 0;
  /* max-height: 0; */
}

.menu.active{

  /* max-height: 600px; */
}

#cat-button.separation:after{
  content : "";
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 10;
  height: 100%;
  width: 100%;
  border-right: 2px solid #909090;
}

/* --- categorie */

.accordeon{
  transition: 0.3s;
  overflow-y: hidden;
  height: 0;
}

.categorie-title, .souscategorie-title{
  display: block;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #E0E0E0;
}

.categorie-title{
  padding-left: 24px;
}

.souscategorie-title{
  padding-left: 36px;
}

.categorie-count{
  font-size: 0.8em;
  padding-left: 6px;
  color: #606060;
}

/* bold when selected */
.categorie-title.selected, .souscategorie-title.selected{
  font-weight: bold;
}

/* on rajoute un plus ou moins pour les titre de categorie dans le menu categorie (et pas dans le menu tris) */
#categories .categorie-title:not(.tout)::after{
  content: "+";
  padding-right: 12px;
  float: right;
  font-weight: bold;
}

#categories .categorie-title.active:not(.tout)::after{
  content: "-";
  padding-right: 12px;
  float: right;
  font-weight: bold;
}

.menu-container a{
  text-decoration: none;
}
