
photos/bag/0.jpg
photos/bag/44.jpg
photos/fourmiliere/2.jpg
photos/fourmiliere/3.jpg
photos/fourmiliere/4.jpg
photos/fourmiliere/5.jpg
photos/gilbard/55.jpg
photos/gilbard/56.jpg
photos/bag/0.jpg

old_versions/
old_versions/add_form.css
old_versions/add_form_amélioration_support_camera_arriere.js
old_versions/add_form_avant_ImageCapture.js
old_versions/add_form_avant_nouislider.php
old_versions/add_form_avant_refonte_tabs.php
old_versions/add_form_avant_simplification26-10.js
old_versions/add_form_avec_nouislider_14.0.php
old_versions/add_form_avec_slider_prix.php
old_versions/add_form_avt_changement_mesures.php
old_versions/add_form_compat_fairphone.js
old_versions/add_form_compatibilité_Fairphone.js
old_versions/add_form_faut_il_sauver_les_bulles_materialize.php
old_versions/add_form_lien_bdd.php
old_versions/add_form_nonlinear_slider_chipot.php
old_versions/add_form_pendant_simplification_26-10.js
old_versions/add_form_tentative_compatibilité_webkit_chrome31_(err - API can only be initiated by a user gesture).js
old_versions/add_form_test_experimental_imageCapture.takephoto.js
old_versions/add_form_videoframe.php
old_versions/index - camera_old.php
old_versions/index_sansrotation_EXIF.php
old_versions/index_simple.php
old_versions/item_page.php
photos/bag/0.jpg
photos/bag/45.jpg
photos/bag/46.jpg
photos/bag/47.jpg
photos/bag/48.jpg
photos/bag/49.jpg
old_versions/add_form.css
old_versions/add_form_amélioration_support_camera_arriere.js
old_versions/add_form_avant_ImageCapture.js
old_versions/add_form_avant_nouislider.php
old_versions/add_form_avant_refonte_tabs.php
old_versions/add_form_avant_simplification26-10.js
old_versions/add_form_avec_nouislider_14.0.php
old_versions/add_form_avec_slider_prix.php
old_versions/add_form_avt_changement_mesures.php
old_versions/add_form_compat_fairphone.js
old_versions/add_form_compatibilité_Fairphone.js
old_versions/add_form_faut_il_sauver_les_bulles_materialize.php
old_versions/add_form_lien_bdd.php
old_versions/add_form_nonlinear_slider_chipot.php
old_versions/add_form_pendant_simplification_26-10.js
old_versions/add_form_tentative_compatibilité_webkit_chrome31_(err - API can only be initiated by a user gesture).js
old_versions/add_form_test_experimental_imageCapture.takephoto.js
old_versions/add_form_videoframe.php
old_versions/index - camera_old.php
old_versions/index_sansrotation_EXIF.php
old_versions/index_simple.php
old_versions/item_page.php
photos/bag/0.jpg
old_versions/add_form.css
old_versions/add_form.css
old_versions/add_form_amélioration_support_camera_arriere.js
old_versions/add_form_avant_ImageCapture.js
old_versions/add_form_avant_nouislider.php
old_versions/add_form_avant_refonte_tabs.php
old_versions/add_form_avant_simplification26-10.js
old_versions/add_form_avec_nouislider_14.0.php
old_versions/add_form_avec_slider_prix.php
old_versions/add_form_avt_changement_mesures.php
old_versions/add_form_compat_fairphone.js
old_versions/add_form_compatibilité_Fairphone.js
old_versions/add_form_faut_il_sauver_les_bulles_materialize.php
old_versions/add_form_lien_bdd.php
old_versions/add_form_nonlinear_slider_chipot.php
old_versions/add_form_pendant_simplification_26-10.js
old_versions/add_form_tentative_compatibilité_webkit_chrome31_(err - API can only be initiated by a user gesture).js
old_versions/add_form_test_experimental_imageCapture.takephoto.js
old_versions/add_form_videoframe.php
old_versions/index - camera_old.php
old_versions/index_sansrotation_EXIF.php
old_versions/index_simple.php
old_versions/item_page.php
photos/bag/0.jpg
old_versions/add_form.css
old_versions/add_form.css
old_versions/add_form.css
old_versions/add_form_amélioration_support_camera_arriere.js
old_versions/add_form_avant_ImageCapture.js
old_versions/add_form_avant_nouislider.php
old_versions/add_form_avant_refonte_tabs.php
old_versions/add_form_avant_simplification26-10.js
old_versions/add_form_avec_nouislider_14.0.php
old_versions/add_form_avec_slider_prix.php
old_versions/add_form_avt_changement_mesures.php
old_versions/add_form_compat_fairphone.js
old_versions/add_form_compatibilité_Fairphone.js
old_versions/add_form_faut_il_sauver_les_bulles_materialize.php
old_versions/add_form_lien_bdd.php
old_versions/add_form_nonlinear_slider_chipot.php
old_versions/add_form_pendant_simplification_26-10.js
old_versions/add_form_tentative_compatibilité_webkit_chrome31_(err - API can only be initiated by a user gesture).js
old_versions/add_form_test_experimental_imageCapture.takephoto.js
old_versions/add_form_videoframe.php
old_versions/index - camera_old.php
old_versions/index_sansrotation_EXIF.php
old_versions/index_simple.php
old_versions/item_page.php
photos/bag/0.jpg
photos/bag/50.jpg
photos/bag/51.jpg
old_versions/add_form.css
old_versions/add_form_amélioration_support_camera_arriere.js
old_versions/add_form_avant_ImageCapture.js
old_versions/add_form_avant_nouislider.php
old_versions/add_form_avant_refonte_tabs.php
old_versions/add_form_avant_simplification26-10.js
old_versions/add_form_avec_nouislider_14.0.php
old_versions/add_form_avec_slider_prix.php
old_versions/add_form_avt_changement_mesures.php
old_versions/add_form_compat_fairphone.js
old_versions/add_form_compatibilité_Fairphone.js
old_versions/add_form_faut_il_sauver_les_bulles_materialize.php
old_versions/add_form_lien_bdd.php
old_versions/add_form_nonlinear_slider_chipot.php
old_versions/add_form_pendant_simplification_26-10.js
old_versions/add_form_tentative_compatibilité_webkit_chrome31_(err - API can only be initiated by a user gesture).js
old_versions/add_form_test_experimental_imageCapture.takephoto.js
old_versions/add_form_videoframe.php
old_versions/index - camera_old.php
old_versions/index_sansrotation_EXIF.php
old_versions/index_simple.php
old_versions/item_page.php
photos/bag/0.jpg
